<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tr.sneakers - Inventario Gorras</title>
  
  <link rel="icon" href="{{ url_for('static', filename='images/Shoe_Logo.jpg') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/inventario_tenis.css') }}">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/trsneakers_logo.png') }}" alt="Tr.sneakers Logo" class="logo-img">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('admin.inventario_tenis') }}">Home</a></li>                
                <li class="active"><a href="{{ url_for('admin.inventario_tenis') }}">Inventario</a></li>                
                <li><a href="{{ url_for('admin.gestion_usuarios') }}">Usuarios</a></li>
                <li><a href="{{ url_for('admin.cambiar_contrasena') }}">Configuración</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
            </ul>
        </aside>

        <main class="main-content">
            <div class="header">
                <h1>INVENTARIO</h1>
                <div class="user-info">
                    <span>Administrador</span>
                </div>
            </div>

            <section class="seccion_inventario">
                <h2>Inventario</h2>

                <div class="fila-categorias-agregar">
                    <div class="categorias">
                       <a href="{{ url_for('admin.inventario_tenis') }}" class="categoria-btn">Tenis</a>
                       <a href="{{ url_for('admin.inventario_playeras') }}" class="categoria-btn">Playeras</a>
                       <a href="{{ url_for('admin.inventario_gorras') }}" class="categoria-btn active">Gorras</a>
                    </div>