<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tr.sneakers</title>
  <link rel="icon" href="../static/images/Shoe Logo.jpg">
 <link rel="stylesheet" href="../static/css/metodo_pago.css">
</head>
<body>

    <div class="main-container">

        <header class="header">
            <img src="../static/images/trsneakers logo.png" alt="Logo TK Sneakers" class="logo">
        </header>

        <div class="card-container">
            <div class="product-card">
                <div class="card-content">
                    <h3>Título</h3>
                    <p class="price">$0<span class="per-mo">/mo</span></p>
                    <ul>
                        <li><i class="fas fa-dot-circle feature-icon"></i> Talla</li>
                        <li><i class="fas fa-dot-circle feature-icon"></i> Marca</li>
                    </ul>
                </div>
                <button class="select-button">Button</button>
            </div>

            <div class="product-card">
                <div class="card-content">
                    <h3>Título</h3>
                    <p class="price">$0<span class="per-mo">/mo</span></p>
                    <ul>
                        <li><i class="fas fa-dot-circle feature-icon"></i> Talla</li>
                        <li><i class="fas fa-dot-circle feature-icon"></i> Marca</li>
                    </ul>
                </div>
                <button class="select-button">Button</button>
            </div>

            <div class="product-card">
                <div class="card-content">
                    <h3>Título</h3>
                    <p class="price">$0<span class="per-mo">/mo</span></p>
                    <ul>
                        <li><i class="fas fa-dot-circle feature-icon"></i> Talla</li>
                        <li><i class="fas fa-dot-circle feature-icon"></i> Marca</li>
                    </ul>
                </div>
                <button class="select-button">Button</button>
            </div>
        </div>

        <div class="back-arrow">
            <i class="fas fa-arrow-left"></i>
        </div>
        
        <button class="pay-button">Pagar</button>

        <div class="payment-modal">
            <p>Total a pagar</p>
            <p class="total-amount">$ 0.00</p>
            <div class="modal-actions">
               <button class="filter-btn"><a href="carrito.html" class="pay-button-style">Atras</a></button>
                <button class="filter-btn"><a href="Datos_pago.html" class="pay-button-style">Siguiente</a></button>
            </div>
        </div>

    </div>

</body>
</html>