<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tr.sneakers</title>
  <link rel="icon" href="../static/images/Shoe Logo.jpg">
 <link rel="stylesheet" href="../static/css/pago_exitoso.css">
</head>
<body>

    <div class="main-container">

        <header class="header">
            <img src="../static/images/trsneakers logo.png" alt="Logo TK Sneakers" class="logo">
        </header>

        <div class="card-container">
            <div class="product-card">
                <h3>Título</h3>
                <p class="price">$0<span class="per-mo">/mo</span></p>
                <ul>
                    <li><i class="fas fa-dot-circle feature-icon"></i> Talla</li>
                    <li><i class="fas fa-dot-circle feature-icon"></i> Marca</li>
                </ul>
                <button class="select-button">Button</button>
            </div>

            <div class="product-card">
                <h3>Título</h3>
                <p class="price">$0<span class="per-mo">/mo</span></p>
                <ul>
                    <li><i class="fas fa-dot-circle feature-icon"></i> Talla</li>
                    <li><i class="fas fa-dot-circle feature-icon"></i> Marca</li>
                </ul>
                <button class="select-button">Button</button>
            </div>

            <div class="product-card">
                <h3>Título</h3>
                <p class="price">$0<span class="per-mo">/mo</span></p>
                <ul>
                    <li><i class="fas fa-dot-circle feature-icon"></i> Talla</li>
                    <li><i class="fas fa-dot-circle feature-icon"></i> Marca</li>
                </ul>
                <button class="select-button">Button</button>
            </div>
        </div>

        <div class="back-arrow">
            <i class="fas fa-arrow-left"></i>
        </div>
        
        <button class="pay-button">Pagar</button>

        <div class="success-modal">
            <h2 class="modal-title">¡Pago exitoso!</h2>
            
            <label for="fecha-entrega">Fecha de entrega</label>
            <input type="text" id="fecha-entrega" placeholder="DD/MM/AAAA">
            
            <label for="detalles">Detalles</label>
            <textarea id="detalles" rows="4"></textarea>

            <div class="modal-actions">
                <button class="finalize-button"><a href="carrito.html" class="pay-button">Finalizar</a></button>
            </div>
        </div>
        
    </div>

</body>
</html>